<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient"/>
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="DevDb" connectionString="Initial Catalog=DEVDB;Data Source=.\sqlexpress;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
